@import url("https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,300;8..30,400;8..30,500;8..30,600;8..30,700;8..30,800;8..30,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #9a3b3bf5;
  color: white;
  font-family: "Piazzolla", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 15px;
}

.container h1 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
}

.container a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  font-style: italic;
}

.container a:hover {
  color: #e2c799;
}

.form-control {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #e2c799;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
}

.form-control input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  width: 100%;
}

.form-control label {
  font-size: 18px;
  margin-bottom: 10px;
}
