@import url("https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,300;8..30,400;8..30,500;8..30,600;8..30,700;8..30,800;8..30,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #9a3b3bf5;
  color: white;
  font-family: "Piazzolla", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 15px;
}

.container h1 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
}

.container a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  font-style: italic;
}

.container a:hover {
  color: #e2c799;
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 400px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  outline: none;
  border-bottom: 2px white solid;
  display: block;
  padding: 15px 0;
  color: white;
  font-size: 18px;
  width: 100%;
}

.form-control input:focus,
.form-control input:valid {
  border-bottom-color: #e2c799;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
  font-size: 18px;
  margin-bottom: 10px;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: white;
  transform: translateY(-30px);
}

.btn {
  background-color: #e2c799;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  display: block;
  margin: 10px auto;
  animation: button 1s linear infinite;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background-color: transparent;
  color: white;
  border: 1px solid #e2c799;
}

@keyframes button {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 500px) {
  .container {
    width: 100%;
    padding: 20px;
  }
}
